cycler==0.12.1
kiwisolver==1.4.5
matplotlib==3.4.1
numpy==1.24.4
opencv-python==4.1.2.30
pandas==2.0.3
pillow==10.2.0
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.8.2
pytz==2024.1
PyWavelets==1.4.1
seaborn==0.13.2
six==1.16.0
tzdata==2023.4
